@page
@model ScoreBurrow.Web.Pages.Account.LogoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout - ScoreBurrow</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Logging out...</h1>
                <p>Please wait while we log you out.</p>
            </div>
        </div>
    </div>
</body>
</html>
